*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

/*font-family: 'Playfair Display', serif;
font-family: 'PT Serif', serif;
font-family: 'Quicksand', sans-serif;*/
a{
    text-decoration: none;
    color: #2C98F0;
}
.name{
    color: #fff;
}
.left{
    width: 25%;
    height: 100vh;
    background-color: #272829;
    display: inline-block;
    position: fixed;
}
.position{
    color: #fff;
}
.img1{
    border-radius: 50%;
    width: 100px;
    height: 110px;
    display: block;
    margin-left: auto;
    margin-top: 55px;
    margin-right: auto;
    border: 10px solid #2c2f3f;
}
.name{
    font-size: 22px;
    text-align: center;
    margin-top: 1rem;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Playfair Display", Georgia, serif;
    font-weight: 600;
}
.position{
    display: block;
    margin-top: 0.8rem;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

ul li{
    list-style: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    margin: 2rem 0;
}
.nav{
    text-align: center;
    margin-top: 40px;
}
.list{
    color: #fff;
    text-decoration: none;
}
.list:hover{
    color: #2C98F0;
    text-decoration: underline;
}
.right{
    display: inline-block;
    width: 70%;
    right: 48px;
    height: 100vh;
    position: absolute;
}
.innerh1{
    font-family: "Playfair Display",Georgia,serif;
    margin-bottom: 20px;
    font-size: 60px;
    line-height: 1.3;
    font-weight: 700;
    left: 78px;
    position: absolute;
    z-index: 1;
    line-height: 1.5;
}
p{
    line-height: 1.5;
    margin-top: 25px;
}
.mySkill{
        width: 100%;
    left: 239px;
}
#HOME{
    display: flex;
    width: 110%;
    left: 239px;
    /* position: absolute; */
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    background-color: #606b7a;
}
.img2{
        width: 100%;
        left: 550px;
        position: relative;
}
.homepara{
        position: absolute;
        top: 450px;
        left: 77px;
        font-weight: 600;
}

.section{    width: 100%;
    left: 239px;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}
.innerh2{
        font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.8;
    position: relative;
}
.aboutsec{
    padding: 80px;
}
.img4{
    /* position: absolute; */
    left: 67px;
    /* margin-top: -50px; */
    width: 47%;
    display: block;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -67px;
}

.footer{
    width: 100%;
    height: 10vh;
    background-color: #5e5c56;
    display: inline-block;

}
.footer>p{
    text-align: center;
    font-weight: bold;
}
.aboutMe{
    
    margin-top: 50px;
}
.aboutPara{
    margin: 0;
    padding: 0;
}
.rightInfo, .leftInfo{
    float: left;
    
    padding: 15px;
    width: 46%;
}
.aboutMe > h1{
    color: #173b6c;
    letter-spacing: 2px;
}
.strong{
    font-weight: bolder;
    margin-left: 15px;
    font-size: 15px;
}
li>span{
    font-size: 15px; 
}
.fa-chevron-right{
    color: #149ddd;
}
.consec{
    
}
.details{
    box-shadow: 4px 4px 9px grey;
    float: left; 
    width: 40%;
    height: 450px;
}
.message{
    box-shadow: 4px 4px 9px grey;
    float: left; 
    width: 55%;
    height: 400px;
    margin-left:3% ;
}
.contactHead{
    display: inline-block;
    margin: 12px;
    position: absolute;
}

.fa-2x
{
    padding: 15px;
    background-color: #dff3fc;
    border-radius: 50%;
    margin-left: 15px;
}
.fa-2x :hover
{

    background-color: #149ddd;

}
.contactpara{
    
margin-left: 72px;
    
top: -27px;
    
position: relative;
}
#SKILLS, #EXPERIENCE{
    background-color: #f5f8fd;
}


#slider {
	overflow: hidden;
    margin-top: 30px;
}

@keyframes slider {
	0% { left: 0; }
	30% { left: 0; }
	33% { left: -100%; }
	63% { left: -100%; }
	66% { left: -200%; }
	95% { left: -200%; }
	100% { left: 0; }
}
#slider .figure {
	width:300%;
	position: relative;
	animation: 15s slider infinite;
}

#slider .figure:hover {
	/*animation-play-state: paused; enable for pause on hover*/
}
#slider .figure .img {
	width: 33.333333333%;
	height : 100%;
	float: left;
}
.imgunder{
    height: 350px;
    box-shadow: 10px 10px gray;
}